.catkin_workspace
.idea
.thumbs
.DS_Store
.vscode
*.7z
*.log
*.tar
*.zip
**/__pycache__/
analytical_solution
build
devel
install
log
oculus_reader
oculus_reader/oculus_reader
src/CMakeLists.txt
src/nero/backup
